@import "./card";

html {
    box-sizing: border-box;
    font-family: var(--font);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font);
}

#root {
    background-color: var(--color-gray-10);
}
