
@include get-content {
    
    /**
     * Используется только в верхнем регистре для коротких заголовков маленького размера.
     */

    --font-size-xxs: var(--font-size-10);

    /**
     * Самый маленький размер шрифта. Используется для самой второстепенной
     * информации, например, в подвале страницы.
     */

    --font-size-xs: var(--font-size-12);

    /**
     * Маленький размер шрифта. Используется для снижения акцента.
     */

    --font-size-s: var(--font-size-14);

    /**
     * Стандартный размер шрифта.
     */

    --font-size-m: var(--font-size-16);

    /**
     * Большой размер шрифта. H3.
     */
    --font-size-l: var(--font-size-20);

    /**
     * Экстра большой размер шрифта. H2.
     */
    --font-size-xl: var(--font-size-24);

    /**
     * Двойной экстра размер шрифта. H1.
     */
    --font-size-xxl: var(--font-size-32);


}
