@include get-content {
    /**
     * Отступы
     */

    --gp-2xs: 4px;
    --gp-xs: 8px;
    --gp-s: 12px;
    --gp-m: 16px;
    --gp-l: 20px;
    --gp-xl: 24px;
    --gp-2xl: 32px;
    --gp-3xl: 40px;
    --gp-4xl: 48px;
    --gp-5xl: 72px;
}
