@include get-content {

    /**
     * Дефолтный шрифт.
     */

    --font: "Open Sans";


    /**
     * Базовые размеры.
     */

    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-32: 32px;

    /**
     * Используется только в верхнем регистре для коротких заголовков маленького размера.
     */

    --font-size-xxs: var(--font-size-10);

    /**
     * Самый маленький размер шрифта. Используется для самой второстепенной
     * информации, например, в подвале страницы.
     */

    --font-size-xs: var(--font-size-12);

    /**
     * Маленький размер шрифта. Используется для снижения акцента.
     */

    --font-size-s: var(--font-size-14);

    /**
     * Стандартный размер шрифта.
     */

    --font-size-m: var(--font-size-16);


    /**
     * Большой размер шрифта. H3.
     */
    --font-size-l: var(--font-size-18);

    /**
     * Экстра большой размер шрифта. H2.
     */
    --font-size-xl: var(--font-size-24);


    /**
     * Двойной экстра размер шрифта. H1.
     */
    --font-size-2xl: var(--font-size-32);


    /**
     * Стандартная толщина шрифта для всех компонентов.
     */
    --font-weight-regular: 400;


    /**
     * Толщина шрифта для сильного акцента. Например, используется в акцентных кнопках или
     * выделении активных пунктов меню.
     */

    --font-weight-semibold: 600;
    --font-weight-bold: 700;

}

.font-bold-10 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxs);
}

.font-bold-12 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
}

.font-bold-14 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
}

.font-bold-16 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-m);
}

.font-semibold-10 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxs);
}

.font-semibold-12 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs);
}

.font-semibold-14 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-s);
}

.font-semibold-16 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-m);
}
