@include get-content {
    --content-width: 1032px;

    /**
     * Devices
     */

     --mobile-s: 320px;
     --mobile-m: 375px;
     --mobile-l: 412px;

     --tab-s: 600px;
     --tab-m: 768px;

     --desktop-s: 1024px;
     --desktop-m: 1280px;
     --desktop-l: 1440px;
     --desktop-xl: 1920px;


    /**
     * Отступы
     */

     --gp-2xs: 4px;
     --gp-xs: 8px;
     --gp-s: 12px;
     --gp-m: 16px;
     --gp-l: 20px;
     --gp-xl: 24px;
     --gp-2xl: 32px;
     --gp-3xl: 40px;
     --gp-4xl: 48px;
     --gp-5xl: 72px;


}