@mixin set-font() {
    @each $weight in map-get($map: $FONTS, $key: "weights") {
        &.#{$weight} {
            @each $size, $value in map-get($map: $FONTS, $key: "size") {
                &.#{$size} {
                    @include font-style($weight, $size);
                }
            }
        }
    }
}

@mixin set-heading() {
    @each $weight in map-get($map: $FONTS, $key: "weights") {
        &.#{$weight} {
            @each $title, $value in map-get($map: $FONTS, $key: "headings") {
                &.#{$title} {
                    @include font-style($weight, $value);
                }
            }
        }
    }
}

@mixin set-line-height($size: "m") {
    @each $name, $value in map-get($map: $FONTS, $key: "line-heights") {
        @if ($name == $size) {
            line-height: $value;
        }
    }
}

@mixin font-style($weight, $size) {
    font-weight: var(--font-weight-#{$weight});
    font-size: var(--font-size-#{$size});
    @include set-line-height($size);
}
